[Unit]
Description=boardtestapp Test Application
After=multi-user.target weston.service network.target
Requires=weston.service

[Service]
ExecStart=/usr/bin/boardtestapp -platform wayland
Restart=always
RestartSec=5s
Environment=WAYLAND_DISPLAY=wayland-0
Environment=QT_QPA_PLATFORM=wayland
Environment=XDG_RUNTIME_DIR=/run/user/0
StandardOutput=journal+console
StandardError=journal+console
User=root

[Install]
WantedBy=graphical.target
